<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>循环渲染</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="Application">
  <div v-for="item in list">
    {{item}}
  </div>
  <ul>
    <li v-for="(item, index) in  handle(list)">
      <div>{{index+"."+item.name}}</div>
      <div>{{item.num}}</div>
    </li>
  </ul>
  <ul>
    <template v-for="(item,index) in handle(list)">
      <div>{{index + "." + item.name}}</div>
      <div>{{item.num}}</div>
    </template>
  </ul>
  <ol>
    <li v-for="(value,key,index) in preson" :key="index">
      {{key}}:{{value}}
    </li>
  </ol>
  <button @click="click">
    逆序
  </button>
</div>
<script>
  const App = {
    data() {
      return {
         list: [{
           name: "墨鱼老师",
           num: "151xxxxxxxx"
         },
           {
             name: "Jaki",
             num: "151xxxxxxxx"
           },
           {
             name: "Lucy",
             num: "151xxxxxxxx"
           },
           {
             name: "Monki",
             num: "151xxxxxxxx"
           },
           {
             name: "Bei",
             num: "151xxxxxxxx"
           }],
        preson: {
          name: "墨鱼老师",
          age: "00",
          num: "151xxxxxxxx",
          emali: "xxxx@xx.com"
        }
      }
    },
    methods: {
      click() {
        this.list.reverse()
      },
      handle(l) {
        return l.filter(obj => obj.name != "墨鱼老师")
      }
    }
  }
  Vue.createApp(App).mount("#Application")
</script>
</body>
</html>
